.menu {
  display: flex;
  gap: 20px;
  background: #eee;
  padding: 10px;
}

.ativo {
  font-weight: bold;
  color: blue;
}

.logo{
  width: 50px;
  height: auto;
  text-align: right; 
  margin-left: auto;
}

.logo-container {
  margin-left: auto;
}